
bin/Debug/Newtonsoft.Json.dll
*.xml
*.dll
*.pdb
*.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/UselessAPI.NET/v16/.suo
UselessAPI.NET.sln
UselessAPI.NET.1.0.0.nupkg
UselessAPI.NET.csproj
UselessAPI.NET.nuspec
Properties/AssemblyInfo.cs
packages/Newtonsoft.Json.12.0.3/packageIcon.png
packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
packages/Newtonsoft.Json.12.0.3/LICENSE.md
packages/Newtonsoft.Json.12.0.3/.signature.p7s
packages.config
obj/Debug/UselessAPI.NET.csproj.FileListAbsolute.txt
obj/Debug/UselessAPI.NET.csproj.CopyComplete
